<ion-view view-title="Attractions">
  <form novalidate ng-submit="doSearch()">
    <ion-header-bar class="bar-subheader item-input-inset">
      <label class="item-input-wrapper" id="searchBoxParent">
    </ion-header-bar>
  </form>

  <ion-content scroll="false">
    <div data-tap-disabled="true">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging"
      bounds="map.bounds" events="map.events" options="map.options" pan="true"
      control="map.control">


        <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events"
        parentdiv="searchbox.parentdiv"></ui-gmap-search-box>


        <ui-gmap-markers idkey="map.idkey" models="map.markers" coords="'self'" icon="'icon'"
        click="'onClicked'"></ui-gmap-markers>
        <ui-gmap-window coords="selected" idkey="selected.place_id" templateurl="selected.templateurl"
        templateparameter="selected.templateparameter" options="selected.options"
        closeClick='selected.closeClick()' ng-cloak>

        </ui-gmap-window>


      </ui-gmap-google-map>
    </div>
  </ion-content>
</ion-view>
