<ion-view view-title="Sessions">

  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" 
             ng-model="searchSessions" 
             ng-change="scrollTop(); resize()"
             ng-focus="inputUp()" ng-blur="inputDown()">
    </label>
      <button ng-if="searchSessions.length" ng-click="clearSearch()" class="button button-icon ion-ios-close-empty"></button>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item collection-repeat="session in sessions | filter:searchSessions" ui-sref="menu.session({sessionId:session.id})">
        <h2>{{session.title}}</h2>
        <p ng-repeat="speaker in session.speakers">{{speaker.firstName}} {{speaker.lastName}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
