<ion-view view-title="{{session.title}}">
  <ion-content>
    <pre>{{session}}</pre>

  <!--   <ion-list>
    <div class="list card">
      <div class="item item-avatar">
        <img src="https://www.devnexus.com/s/speakers/{{session.speakers[0].id}}.jpg">
        <h2 ng-repeat="speaker in session.speakers">
          {{speaker.firstName}} {{speaker.lastName}}
          </h2>
      </div>
      <div class="item item-body">

        <h2>
          {{session.description}}
        </h2>
        <p>
          Track: {{session.presentationType}}
        </p>
        <p>
          Skill Level: {{session.skillLevel}}
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="share(session)">
          <i class="icon ion-share"></i> Share
        </a>
      </div>
    </div>
  </ion-list> -->
  </ion-content>
</ion-view>
