<ion-view view-title="Speakers">
  <form novalidate ng-submit="doSearch()">

    <ion-header-bar class="bar-subheader item-input-inset bar-balanced">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchSpeakers" ng-change="scrollTop(); resize()"
        ng-focus="inputUp()" ng-blur="inputDown()">
      </label>
      <a ng-if="searchSessions.length" ng-click="clearSearch()" class="button button-icon ion-ios-close-empty"></a>
    </ion-header-bar>
  </form>

  <ion-content>
      <button ng-if="hasError" class="button-block button button-balanced" ng-click="load()">Try Again</button>

    <ion-list>
      <ion-item class="item-avatar" collection-repeat="speaker in speakers | filter:searchSpeakers"
      ui-sref="menu.speaker({speakerId:speaker.id})">
        <img src="https://www.devnexus.com/s/speakers/{{speaker.id}}.jpg">
        <h2>{{speaker.firstName}} {{speaker.lastName}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
