<ion-view view-title="Speakers">

  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchSpeakers" ng-change="scrollTop(); resize()"
      ng-focus="inputUp()" ng-blur="inputDown()">
    </label>
    <button ng-if="searchSessions.length" ng-click="clearSearch()" class="button button-icon ion-ios-close-empty"></button>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" collection-repeat="speaker in speakers | filter:searchSpeakers"
      ui-sref="menu.speaker({speakerId:speaker.id})">
        <img src="https://www.devnexus.com/s/speakers/{{speaker.id}}.jpg">
        <h2>{{speaker.firstName}} {{speaker.lastName}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
